<!DOCTYPE html>{% load staticfiles %}
<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Pages in Category: {{ category_name }}</h1>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>

        {% else %}
        <strong>No pages currently in category.</strong>
        {% endif %}
        <br>
        <a href="/rango/{{ category_name_url }}/add_page/">Add page to category</a>
    </body>
</html>
