{% extends "rango/base.html" %}
{% load staticfiles %}

{% block body_block %}
    <h1>Rango says...</h1>
    hello
    {% if user.is_authenticated %}
        {{ user.username }}!
    {% else %}
        world!
    {% endif %}

    <h3>Most Liked Categories</h3>
    {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present</strong>
    {% endif %}

    <h3>Most Viewed Categories</h3>
    {% if categories_viewed %}
        <ul>
            {% for category in categories_viewed %}
            <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present</strong>
    {% endif %}
{% endblock body_block %}
